/* Ensure the background covers the whole viewport */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Optional: Change default font */
}

/* Apply the background image to the entire page */
.App {
    background-image: url('./assets/desktop-wallpaper-crowd-of-party-people-crowd-of-party-people-vector-background-scalable-to-any-size-also-includes-high-resolution-jpeg.jpg'); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
    min-width: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    flex-direction: column;

}



.content {
    position: relative;
    z-index: 1; /* Keeps the content on top of the background image */
    padding: 20px;
    color: #fff; 
}